body {
    width: 100%;
    margin: 15px;
    

}
header{
    background-color: blue;
    height: 40px;
    width: 1200px;
    border-radius: 10px;
    text-align: start;
    color: #f7f6f6;
    padding-top: 30px;
    padding-left: 30px;
    text-shadow: #f7f6f6;

}
section{
  

    display: flex;
    flex-wrap: wrap;
    
    background-color: #f7f6f6;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: auto;
    margin: 10px;
 
    
    
    
}
.main{
    padding-left: 20px;
    padding-top: 20px;
    height: 450px;
    width: 950px;
    background-color: rgb(81, 207, 109);
    border-radius: 10px;
    color: #f7f6f6;
}
.sidebar{
    height: 450px;
    width: 180px;
    color: #f7f6f6;
    padding-left: 60px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(250, 92, 64);
}
footer{
    background-color: blue;
    height: 40px;
    width: 1200px;
    border-radius: 10px;
    text-align: start;
    color: #f7f6f6;
    padding-top: 30px;
    padding-left: 30px;
    text-shadow: #f7f6f6;
}
.itams{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;

}
.item{
    height: 50px;
    
      color: #f7f6f6;
      padding: 20px;
      text-align: center;
      border-radius: 10px 100px / 120px 100px;
    background-color: green;
}